#cookies {
  width: 160px;
  height: 96px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-image: url("/img/cookies/tray.png");
}

#cookie {
  margin-left: 20px;
  margin-top: 16px;
  position: absolute;
}

#cookies>p {
  position: absolute;
  text-align: right;
  right: 16px;
  top: 12px;
}
