* {
  margin: 0px;
}

@font-face {
  font-family: 'AlternianScript';
  src: url('Alternianscript-Regular.ttf');
}
textarea {
  font-family: 'AlternianScript';
  height: 100%;
  width: 100%;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
}
