* {
  margin: 0px;
}

@font-face {
  font-family: 'AlternianScript';
  src: url('Alternianscript-Regular.ttf');
}
textarea {
  rows: 4;
  width: 100%;
  font-size: 32px;
}

#engInput {
  font-family: 'Arial';
}

#altInput {
  font-family: 'AlternianScript';
}
