@font-face {
  font-family: 'AlternianScript';
  src: url('Alternianscript-Regular.ttf');
}

* {
  margin: 0px;
  font-family: 'AlternianScript';
  font-size: 32px;
  line-height: 100%;
}

body {
  background-color: #000;
}

#gameWindow {
  background-color: #444;
  width: 256;
  height: 256;
}
