* {
  margin: 0px;
  padding: 0px;
  border: 0px none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  overflow: hidden;
}

a:link {
  color: #00e;
}
a:visited {
  ccolor: #528;
}
a:hover, a:active {
  color: #e00;
}

p img {
  margin-top: -1px;
  margin-bottom: -4px;
}

#nav {
  width: 100%;
  height: 24px;
  background-size: 1px 24px;
  background-image: url("img/nav.png");
  z-index: 1;
  position:relative;
  top: 0px;
  margin-bottom: -4px;
}
#nav>p {
  padding-top: 2px;
  padding-left: 8px;
}

#content {
  width: 100%;
  height: 100%;
  flex: 1 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #112;
  background-size: 97px 89px;
}

#mountain {
  margin-top: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#paper {
  width: 384px;
  background-color: #fff;
  margin-top: 32px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
#paper>p {
  padding: 4px;
}

#car {
  width: 47px;
  height: 18px;
  margin-left: 32px;
  background-color: transparent;
  background-image: url("img/car/up.png");
}
#car:active {
  background-image: url("img/car/down.png");
}
